@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

}

body {
  background-color: rgb(41, 40, 40);
  color: #fff;
  font-family: "Roboto", sans-serif;
  display: flex;
  justify-content: center;
  min-height: 100vh;
  padding: 32px;
}

h1 {
  margin: 32px;
}

.board {
  border: 16px solid #ff652f;
  background-color: #ff652f;
  width: 500px;
  height: 500px;
  display: grid;
  grid-template: repeat(3, 1fr) / repeat(3, 1fr);
  gap: 16px;

}

@media(max-width:420px) {
  .board {

    width: 350px;
    height: 350px;
    display: grid;
    grid-template: repeat(3, 1fr) / repeat(3, 1fr);
    gap: 16px;

  }
}

@media(max-width:350px) {
  .board {

    width: 200px;
    height: 200px;
    display: grid;
    grid-template: repeat(3, 1fr) / repeat(3, 1fr);
    gap: 16px;

  }
}


.squares {
  background: #f1eaea;
  border: none;
  font-size: 80px;
  cursor: pointer;
  outline: none;
}

.X {
  color: red;
}

.info-wrapper {
  display: flex;
  justify-content: space-between;
}

h3 {
  padding: 16px;
}

li {
  list-style: none;
}

.info-wrapper button {
  background-color: #ff652f;
  color: #fff;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 8px;
  margin: 8px 16px;
  align-items: center;
}

.game {
  text-align: center;
}